<div class="about-text">
    <p>PasswordExchange allows strangers a one-to-one swap of streaming credentials.</p>
</div>
<div class="gateway">
    <button type="button" id="join" class="gateway-btn">I want to try it...</button>
</div>
<script src="/javascript/get-started.js"></script>