<div class="about-text">
    <h2>PasswordExchange allows strangers a one-to-one swap of streaming credentials.</h2>
</div>
<div class="center">
    <button type="button" id="join" class="gateway-btn">I want to try it...</button>
</div>
<script src="/javascript/get-started.js"></script>